.messageWrp {
    margin-top: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightcoral;
}

.messageText {
    color:lightcoral;
}

.exclamationMark {
    margin: 5px 5px;
    width: 80px;
    border-radius: 27px;    
}